* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.logo-img {
    height: 40px; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-item {
    text-decoration: none;
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #ffa500; 
    text-decoration: underline;
}


